<div class="todo-card">
  <h3>Add ToDo</h3>

  <div class="input-group">
    <label>Modul/Name</label>
    <input type="text" placeholder="Mittwoch, 15. Januar">
  </div>

  <div class="input-group">
    <label>Titel</label>
    <input type="text" placeholder="Titel">
  </div>

  <div class="input-group">
    <label>Beschreibung</label>
    <textarea rows="5" placeholder="Description"></textarea>
  </div>

  <div class="form-footer">
    <button class="btn-cancel" routerLink="/calender">Cancel</button>
    <button class="btn-save">Add</button>
  </div>
</div>
